body {

    background-color: #f4f4fe;

    background-image:
        /* joint clair (lumière) */
        linear-gradient(rgba(255,255,255,0.85) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.85) 1px, transparent 1px),

        /* joint sombre (ombre) */
        linear-gradient(rgba(0,0,0,0.24) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.24) 1px, transparent 1px);

    background-size:
        30px 30px,
        30px 30px,
        30px 30px,
        30px 30px;

    background-position:
        0 0,
        0 0,
        1.5px 1.5px,   /* ombre un peu plus marquée */
        1.5px 1.5px;

    margin: 0;
    padding: 0;
}






