
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


.card 
{
    flex: 1 1 280px;
    max-width: 420px;
    margin-top: 0px;
    margin-left: .0em;
    padding-top: 0px;        
    padding-right: 20px;    
    padding-left:2px;        
    padding-bottom:0px;            
    font-size: 1.5em;
    color: inherit;    
    text-decoration: none;    
    background: linear-gradient( to right, rgba(0, 100, 200,0.3), rgba(0, 200,200,0.05));
    border-radius: 0.5em;    
    border: solid 1px #000000;
    border-left: solid 10px rgb(0,0,0);
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);    

    transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;    
}

.card:hover 
{
    box-shadow: 4px 8px 4px rgba(200,155,200,0.8);

    background: linear-gradient( to right, rgba(255, 255, 255,0.3), rgba(255,155,255,0.3));
}
.card h3 
{
    display: inline-block;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1em;    
    margin-bottom: 0;  
    padding-left: 0.1em;
    padding-right: 0.5em;    
    padding-bottom: 0.2em;
    border-radius: 5px 10px 0px 0px;
    color: azure;
    text-shadow: 1px 1px 0px black, 0 0 1px blue, 0 0 0.2em blue;
    border-left: double 3px rgb(0, 0, 0);
    border-top: solid 1px rgb(0, 0, 0);
    border-right: solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    background: linear-gradient( to right, rgba(0, 100,200,0.2), rgba(150,200,255,0.0));
    background-color: rgba(0, 245, 175,0.3);

    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);    

}




.card p 
{
    margin-top: -5px;
    margin-left: 0px;
    margin-bottom: 0.5em;
    margin-right: 0;
    padding: 0.4em;

    border-radius: 5px 10px 3px 0px;
    border-top: groove 0px rgb(0, 0, 0);
    border-left: double 3px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    border-right: solid 3px rgb(0, 0, 50);
    background: linear-gradient( rgba(225,245,235,0.0),#bbdddd);



    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);   

    text-shadow: 2px 2px 2px rgba(255,255,255,1);      
}



