/* Charte des couleurs pour la leçon de musique */

/* Mots importants, titres, notions clés */
.color-important {

  font-weight: bold;
  text-decoration: underline;

}

/* Concepts, idées, définitions */
.color-concept {

  font-size: 1.1em;
  /* font-weight:  bold;   */
  /* color: #1a73e8; */
  color: #f3e6ad; 
  font-style: italic;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,
         0 2px 3px rgba(0,0,0,.8);


}

/* Actions, verbes, consignes */
.color-action {
  color: #000077;
  font-weight: 500;
}

/* Termes techniques, exemples spécifiques */
.color-technique {
  color: #f4dfd5;

text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,
         0 2px 3px rgba(0,0,0,.8);    
}

/* Compléments, notes supplémentaires, styles alternés */
.color-complement {
  color: #8e44ad;
  font-style: italic;
}

ul.charte-list {
  font-size: 0.9em;
  padding-left: 1.2em;
  margin-top: 0.5em;

}
/* Symboles musicaux inline (reprises, fine, DC, etc.) */
.music-symbol {
  height: 3em;
  vertical-align: middle;
  margin: 0 0.2em;

  border: 2px solid rgb(120,200,200);
  background-color: rgba(0, 255, 255, 0.1);

  /* Optionnel mais utile */
  box-sizing: border-box;
}

