/* Charte des couleurs pour la leçon de musique */

/* Mots importants, titres, notions clés */
.color-important {
  /*color: #0066cc;  */
  font-weight: bold;

}

/* Concepts, idées, définitions */
.color-concept {

  font-weight:  bold;  
  color: #1a73e8;
  font-style: italic;
  text-decoration: underline;  

}

/* Actions, verbes, consignes */
.color-action {
  color: #000077;
  font-weight: 500;
}

/* Termes techniques, exemples spécifiques */
.color-technique {
  color: #d35400;
  font-weight: 600;
}

/* Compléments, notes supplémentaires, styles alternés */
.color-complement {
  color: #8e44ad;
  font-style: italic;
}

ul.charte-list {
  font-size: 0.9em;
  padding-left: 1.2em;
  margin-top: 0.5em;
  list-style: circle;  
}

ul.charte-list li {
 
}

/* Symboles musicaux inline (reprises, fine, DC, etc.) */
.music-symbol {
  height: 2em;
  vertical-align: middle;
  margin: 0 0.2em;

  border: 1px solid rgb(120,200,200);
  background-color: rgba(0, 255, 255, 0.1);

  /* Optionnel mais utile */
  box-sizing: border-box;
}

