footer 
{
  margin-top: 5px;
  margin-bottom:0.2em;      
/*  margin-left:4px;        
  margin-right:0.4em;          
*/  padding-top: 1.0em;
  padding-bottom: 1.0em;  
  
  background-color:rgba(0,155,255,0.2);   
  
  text-align: center;
  justify-content: center;    /* centrer horizontalement */   

  border-top:solid 2px rgba(255,255,255,1);        
  border-left:solid 25px rgba(0,0,0,0.8);          
  border-right:solid 25px rgba(0,0,0,0.8);            
  border-bottom:solid 3px rgba(0,0,0,0.6);
  border-radius: 5px 5px 5px 5px;        
  box-shadow:
    0px -1px 1px rgba(0,0,0,1),    
    0px -4px 3px rgba(0,0,0,0.3),  
    4px 4px 6px rgba(0,00,0,0.5);      
}


.footer-text {
  background-color: #222;   /* fond du texte */
  color: #fff;              /* couleur du texte */
  padding: 6px 12px;        /* espace autour du texte */
  border-radius: 6px;       /* coins arrondis */
  display: inline-block;    /* essentiel pour le fond */
}