footer 
{
  margin-top: 3px;
  margin-bottom:0.2em;      

  margin-right:1em;
  margin-left: 1em;  
  padding-top: 1.0em;
  padding-bottom: 1.0em;  
  
    /* Background principal + trait vertical */
  background:


    /* ===== TRAIT BLANC HAUT ===== */
    linear-gradient(
      to bottom,
      rgba(255,255,255,1) 0px,
      rgba(255,255,255,1) 2px,
      transparent 2px
    ),

    /* ===== TRAIT BLANC DROIT ===== */
    linear-gradient(
      to right,
      transparent calc(100% - 2px),
      rgba(255,255,255,1) calc(100% - 2px),
      rgba(255,255,255,1) 100%
    ),

    /* ===== TRAIT NOIR DROIT ===== */
    linear-gradient(
      to right,
      transparent calc(100% - 3px),
      rgba(0,0,0,1) calc(100% - 3px),
      rgba(0,0,0,1) calc(100% - 2px)
    ),
    /* ===== TRAIT BLANC GAUCHE ===== */
    linear-gradient(
      to right,
      rgba(255,255,255,1) 0px,
      rgba(255,255,255,1) 2px,
      transparent 2px
    ),

    /* ===== TRAIT NOIR GAUCHE ===== */
    linear-gradient(
      to right,
      rgba(0,0,0,1) 2px,
      rgba(0,0,0,1) 3px,
      transparent 1px
    ),



    rgba(0,155,255,0.2);
  
  text-align: center;
  justify-content: center;    /* centrer horizontalement */   

  border-top:solid 1px rgba(0,0,0,1);        
  border-left:solid 0.8em rgba(0,0,0,0.8);          
  border-right:solid 0.8em rgba(0,0,0,0.8);            
  border-bottom:solid 2px rgba(0,0,0,1);
  border-radius: 0.1em 0.1em 0.1em 0.1em;        
  box-shadow:
    0px -1px 1px rgba(0,0,0,1),    
    -5px -4px 5em rgba(155,0,155,0.2),  
    4px 4px 6px rgba(0,00,0,0.5);      
}


.footer-text {
  background-color: #222;   /* fond du texte */
  color: #fff;              /* couleur du texte */
  padding: 6px 12px;        /* espace autour du texte */
  border-top:solid 5px rgba(200,255,255,1);          
  border-left:solid 2px rgba(255,255,255,1);            
  border-right:solid 2px rgba(255,255,255,1);              
  border-radius: 0.1em 0.1em 0.1em 0.3em;       /* coins arrondis */  
  display: inline-block;    /* essentiel pour le fond */

  box-shadow:
    0px -1px 1px rgba(0,0,0,1),    
    0px -4px 3px rgba(0,0,100,0.5),  

    4px 4px 6px rgba(0,00,100,0.4);      

}

