footer 
{
  margin-top: 3em;
  margin-bottom:0.2em;      
  margin-left:3px;        
  margin-right:3px;          
  padding-top: 1.0em;
  padding-bottom: 1.0em;  
  
  background-color:rgba(0,155,255,0.2);   
  
  text-align: center;
  justify-content: center;    /* centrer horizontalement */   

  border-top:groove 3px rgba(0,255,255,1);        
/*  border-top:solid 3px rgba(0,255,255,1);          */
  border-bottom:solid 2px black;     
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);      
}
