.cards-lesson-group {

	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 1em;	
	padding: 0.5em;
	border-radius: 5px;
	border: solid 1px black;
  	max-width: 1200px;
  	background: rgba(0,255,255,0.05);	    
  	box-shadow: 0.1em 0.1em 2px rgba(0,0, 0, 2),
  	0.1em 0.1em 5px rgba(0,0, 0, 2);
}

.group-title {
  margin-bottom: 4px;
  font-size: 2em;

  text-align: center;
  box-shadow: .2em 5px 2px rgba(0,0, 0, 0.2);    
}

.card-lesson {

 	padding-top: 3px;
 	padding-left: 3px; 	
  	border-top: dotted 3px black;
  	border-left: solid 3px black;  	
  	border-radius: 1em 0em 0em 0em;

  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  	gap: 1em;
}

.card {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  border: solid 2px rgba(0,0,0,1);  
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  background: rgba(0,155,255,0.8);	
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.15);
}

.card-icon {

  background: rgba(255,200,200,0.4);		  
  	margin: 0;	
	margin-top:0.2em;
  	font-size: 2.5em;

  	padding-left: 1.0em;  
  	padding-right: 1.0em;    	
  	border: dotted 2px rgba(255,0,0,0.5);    
  	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);  
}

.card p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.0em;

  color: rgb(100,200,200);

  text-shadow:
    0 2px 0 rgba(0,100,255,1),
    2px 0 0 rgba(0,100,255,1),    

    2px 2px 4px rgba(0,0,255,0.8);
}