/* Liens visités */
nav.lesson-links a:visited {
	color:rgb(0,0,0);
}


/* Liens actifs (clic en cours) */
nav.lesson-links a:active {
  color: rgb(0,255,0);
}


nav.lesson-links a {

	padding-left: 0.2em;

	font-size:1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
  	/*font-family: "Courier New", Courier, monospace;	*/


    border-left: solid 5px rgba(255,225,0,1);   
    border-left: solid 5px rgba(200,200,200,1);       

	text-decoration: none;

	color: rgba(0,0,0,1);	

	text-shadow: 
		1px 0px 1px rgba(255,255,255,1),      
		-1px 0px 1px rgba(255,255,255,1),
		0px 1px 1px rgba(255,255,255,1),	
		0px -1px 1px rgba(255,255,255,1),		
		1px 1px 2px rgba(0,0,0,1);

	box-shadow: -1px 0px 0px rgba(0, 0, 0, 1);


}

/*.lesson-links a::first-letter {
  color: red; !important;
  font-weight: bold;
  font-size: 2.2em;
}
*/

nav.lesson-links a:hover {

	color:rgb(0,0,0);
	text-decoration: underlinea;
	text-shadow: 
		1px 0px 1px rgba(255,255,200,1),      
		-1px 0px 1px rgba(255,245,200,1),
		0px 1px 1px rgba(255,244,200,1),	
		0px -1px 1px rgba(255,244,200,1),		
		1px 1px 2px rgba(0,0,0,1);

    border-left: solid 10px rgba(200,200,200,1);   

	box-shadow: 0px 1px 1px rgba(0, 0, 0, 1);    
}

nav.lesson-links li
{
	margin-top: 0px;		
	margin-bottom: 0px;
	padding-left: 0.4em;
}



nav.lesson-links ul
{
    position: relative; 

    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colonnes égales */
    column-gap: 1.5em;
    row-gap: 0.6em;

  	margin-left: -1.5em;	      	
	margin-top:0px;	    		
	padding:0;		
	padding-left:.4em;	    					
	padding-top:.5em;	    						
	padding-bottom:.5em;	    							

    list-style-type: none;    

    
    border-left: solid 5px rgba(255,255,0,1);    
    border-radius: 0.2em 1em 0px 5px;


    background: linear-gradient( to right, rgba(200, 100, 255,0.1), rgba(180,100,255,0.1));	    
	background-color: rgba(240,255,255,0.1);


	box-shadow: 0px -1px 0px rgba(100, 100, 100, 1)
	,4px 4px 2px rgba(100, 100, 100, 1);

}

nav.lesson-links ul::before {
    content: "";
    position: absolute;
    inset: 0;   /* top:0; right:0; bottom:0; left:0; */
    pointer-events: none;  /* ne gêne pas les clics */
    background-image: repeating-linear-gradient(
        135	deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 20px,
        transparent 20px,
        transparent 40px
    );
    z-index: 1;  /* au-dessus du fond mais en dessous du contenu */
}


