/* Liens visités */
nav.lesson-links a:visited {
	color:rgb(0,0,0);
}


/* Liens actifs (clic en cours) */
nav.lesson-links a:active {
  color: rgb(0,255,0);
}


nav.lesson-links a {

	padding: 0px;
	margin: 0px;	
	padding-left: 0.2em;

	font-size:1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;

/*    border-left: groove 4px rgba(0,0,0,0.4);       */

    border-radius: 0.5em 0.2em 0 0 ;

	text-decoration: none;

	color: rgba(0,0,0,1);	



	text-shadow: 
		1px 0px 1px rgba(255,255,255,1),      
		-1px 0px 1px rgba(255,255,255,1),
		0px 1px 1px rgba(255,255,255,1),	
		0px -1px 1px rgba(255,255,255,1),		
		1px 1px 2px rgba(0,0,0,1);

	/*box-shadow: -1px 0px 0px rgba(0, 0, 0, 1);*/


}

nav.lesson-links a::before {
  content: "> "; 

  color: gold;
  text-shadow:
      -1px 0px 0 black,
       1px 0px 0 black,
       0px  1px 0 black,
       0px  -1px 0 black,
       2px 2px 5px black;    
}


nav.lesson-links a:hover {


  text-shadow:
      -1px 0px 0 rgba(235,255,255,1),
       1px 0px 0 rgba(235,255,255,1),
       0px  1px 0 rgba(235,255,255,1),
       0px  -1px 0 rgba(235,255,255,1);
    

	box-shadow: 2px 0px 1px rgba(0, 0, 0, 1),
		-2px 0px 1px rgba(0, 0, 0, 1);    
}

nav.lesson-links li
{
  	border-top: solid 5px rgba(100,200,255,0.8);  
  	border-radius: 1em 4px 4px 4px;  	

  	background-color: rgba(225, 255, 255, .5);

	padding-top: 0px;
	padding-bottom: 2px;	

	margin-top: -5px;		
	margin-bottom: 0px;


	box-shadow: 0px -1px 0px rgba(0, 0, 0, 1),
				0px -1px 3px rgba(0, 0, 0, 1),
				0px 1px 1px rgba(0, 0, 0, 0.2),
				2px 2px 3px rgba(0, 0, 0, 0.7);

}



nav.lesson-links ul
{
    position: relative; 

    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colonnes égales */
    column-gap: 1.5em;
    row-gap: 0.6em;

  	margin-left: -1.4em;	      	
  	margin-right: 0px;	      	  	
	margin-top:0px;	    		

	padding-left:0.1em;	    					
	padding-right:.4em;	    						
	padding-top:1em;	    						
	padding-bottom:.5em;	    							

    list-style-type: none;    

    
    border-left: solid 5px rgba(225,255,255,1);    
    border-radius: 0px 4px 0px 5px;


    background: linear-gradient( to right, rgba(0, 100, 255,0.2), rgba(0,100,255,0.1));	    



	box-shadow: 0px -1px 0px rgba(100, 100, 100, 1),
	4px 4px 2px rgba(100, 100, 100, 0.8),
	-2px 0px 1px rgba(0, 255, 255, 1);


}

nav.lesson-links ul::before {
    content: "";
    position: absolute;
    inset: 0;   
    pointer-events: none; 
    background-image: repeating-linear-gradient(
        135	deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 20px,
        transparent 20px,
        transparent 40px
    );
    z-index: 1; 
}


