body
{
    margin: 10px;

    background-color: #151b3a;

    background-image:
        url("/img/background/medieval_castle_pixelart_00.webp");

    background-size: cover;
    background-attachment: fixed;
}