/* ============================================================
   LIVRE
   ============================================================ */

.book
{
    flex: 1;
    min-width: 0;

    position: relative;

    /* margin-top: 0.4em; */
    margin-left: 0.5em;

    padding-top: 35px;
    padding-left: 35px;    
    padding-right: 40px;
    padding-bottom: 35px;    

    box-sizing: border-box;

    background: #6b3518;
    /* background: #a3a3a3;     */

    /* box-shadow: 2px 2px 4px rgba(80, 60, 30, 1);      */


    border-radius: 1em 1em 1em 1em;
}



/* ============================================================
   COINS EN CUIR DU LIVRE
   ============================================================ */

.book-corner
{
    position: absolute;

    background-repeat: no-repeat;
    background-size: contain;

    background-image:
        url("/lesson/classique/__sidebar/img/metal_corner_300x257.png");


    width: 90px;
    height: 90px;


    z-index: 40;

    pointer-events: none;
}
.book-corner-top-left
{
    top: 0px;
    left: 0;



    background-repeat: no-repeat;
    background-size: contain;

    transform: rotate(0deg);


}
.book-corner-top-right
{
    top: 90px;
    right: 0px;


    background-repeat: no-repeat;
    background-size: contain;

    transform-origin: top right;
    transform: rotate(90deg);
}
.book-corner-bottom-left
{
    bottom: 0;
    left: 90px;


    background-repeat: no-repeat;
    background-size: contain;

    transform-origin: bottom left;
    transform: rotate(270deg);
}
.book-corner-bottom-right
{
    bottom: 0px;
    right: 0px;

    background-repeat: no-repeat;
    background-size: contain;

    /* transform-origin: bottom right; */
    transform: rotate(180deg);
}
/* ============================================================
   CONTOUR SUPÉRIEUR
   ============================================================ */

.book-contour-top
{
    position: absolute;

    top: 0px;
    left: 10px;
    right: 10px;

    height: 32px;

    background-image: url("/img/book_leather_top.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 32px;
    z-index: 30;

    /* border-radius: 1.0em; */

    box-shadow: 0px 5px 5px #6b3518;
}


/* ============================================================
   CONTOUR GAUCHE
   ============================================================ */

.book-contour-left
{
    position: absolute;

    top: 30px;
    bottom: 0;
    left: 0;

    width: 35px;

    background-image:
        url("/img/book_leather_left.png");

    background-repeat: repeat-y;
    background-position: top left;
    background-size: 35px auto;

    z-index: 30;
}

/* ============================================================
   CONTOUR DROIT
   ============================================================ */

.book-contour-right
{
    position: absolute;

    top: 20px;
    bottom: 0;
    right: 0;

    width: 40px;



    background-image:
        url("/img/book_leather_left.png");

    background-repeat: repeat-y;
    background-position: top right;
    background-size: 40px auto;

    transform: rotate(180deg);    

    z-index: 30;
}

/* ============================================================
   CONTOUR INFÉRIEUR
   ============================================================ */

.book-contour-bottom
{
    position: absolute;

    left: 10px;
    right: 10px;
    bottom: 1px;

    height: 35px;

    /* background: #d7c29f; */
    background-image: url("/img/book_leather_top.png");    

    background-image: url("/img/book_leather_top.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto 32px;
    z-index: 30;
}

/* ============================================================
   ZONE DES PAGES
   ============================================================ */

.book-page-area
{
    position: relative;

    overflow: hidden;

    min-height: 500px;

    /* background: #f7f1e4; */

    background-image:
        url("/img/texture/paper_noise_white.png");


    /* border-radius: 1em; */
}



/* ============================================================
   RELIURE CENTRALE
   ============================================================ */

.book-spine
{
    position: absolute;
    overflow: visible;    

    top: 0;
    bottom: 0;

    left: 50%;

    margin-top: 0.3em;
    margin-bottom: 0.3em;    

    width: 40px;

    transform: translateX(-50%);

    border-radius: 6px;

    background-image:
        url("/img/buckle.png"),
        repeating-linear-gradient(
            to right,
            rgba(238, 154, 9, 0.1) 2px,
            rgba(243, 192, 163, 0.5 ) 3px
        );

    background-repeat:
        repeat-y,
        no-repeat;

    background-position:
        center top,
        center;

    background-size:
        36px 15px,
        100% 100%;

    z-index: 20;

    opacity: 0.6;
}

/* ============================================================
   DOUBLE PAGE
   ============================================================ */

.lesson-content-theory,
.lesson-content-exercise
{
    display: flex;

    width: 100%;


}


/* ============================================================
   PAGE
   ============================================================ */

.page
{
    flex: 1;

    min-width: 0;

    box-sizing: border-box;

    padding-top: 0.5rem;
    padding-bottom: 2.5em;
}


/* ============================================================
   PAGE GAUCHE
   ============================================================ */

.page-left
{
    position: relative;

    overflow: hidden;

    padding-left: 1.8em;
    padding-right: 1.5em;

    margin: 0;

    background:
        linear-gradient(
            to right,

            transparent 0,
            transparent 3rem,

            #ec8282 3rem,
            #f89292 3.1rem,

            transparent 3.1rem
        ),

        repeating-linear-gradient(
            to bottom,

            transparent 0,
            transparent 1.75rem,

            #d8ebff 1.75rem,
            #d8ebff 1.82rem
        );
}


/* ============================================================
   PAGE DROITE
   ============================================================ */

.page-right
{
    position: relative;

    overflow: hidden;

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding-left: 1.5em;
    padding-right: 1.5em;

    margin: 0;

    background:
        repeating-linear-gradient(
            to bottom,

            transparent 0,
            transparent 1.75rem,

            #d8ebff 1.75rem,
            #d8ebff 1.82rem
        );
}

.fleuron
{
    position: absolute;

    bottom: 0;

    width: 300px;
    height: 200px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    pointer-events: none;

    z-index: 2;
}

.fleurons-left
{
    right: 40px;

    background-image: url("/img/fleuron_left.png");
}

.fleurons-right
{
    left: 25px;

    background-image: url("/img/fleuron_right.png");
}