

body {
  margin: 0;
  margin-left: 3px;  

  background-image: 
    linear-gradient(
      to right,
      transparent 0px,
      transparent 1.6em,

      /* trait gauche */
      rgba(0,0,0) 1.6em,
      rgba(0,255,255) 1.7em,

      /* trait central */
      rgba(0,200,255  ) 1.8em,

      rgba(0,200,255) 3.2em,      

      /* trait droite */
      rgba(200,255,255) 3.2em,
      rgba(0,0,0) 3.3em,

      transparent 3.4em
    ),
    linear-gradient(to bottom, #d0e1ff 1px, transparent 2px);

  background-size: auto, 100% 12px;
  background-repeat: repeat-y, repeat;
}
 








