

body {
  margin: 0;
  margin-left: 3px;  

  background-image: 
    linear-gradient(
      to right,
      transparent 0px,
      transparent 1.6em,

      /* trait gauche */
      rgba(0,0,0) 1.6em,
      rgba(0,255,255) 1.7em,

      /* trait central */
      rgba(0,200,255  ) 1.8em,

      rgba(0,200,255) 3.2em,      

      /* trait droite */
      rgba(200,255,255) 3.2em,
      rgba(0,0,0) 3.3em,

      transparent 3.4em
    ),
    linear-gradient(to bottom, #d0e1ff 1px, transparent 2px);

  background-size: auto, 100% 12px;
  background-repeat: repeat-y, repeat;
}
 

header {
  color: #f0e6d2;                 /* couleur claire pour le texte */

  padding-top: .4em;
  padding-left: 0.0em;  
  font-family: "Segoe UI", sans-serif;
}

header h1.titre {

  display: inline-block;    

  font-size: 3em;

  /* contour net lisible */
  color: gold;
  text-shadow:
      -2px -2px 0 black,
       2px -2px 0 black,
      -2px  2px 0 black,
       2px  2px 0 black,
       2px 2px 5px black;

  margin: 0;
  margin-left: 0em;
  padding-right: 1em;
  padding-bottom: 0.1em;


  border-top: solid 1px black;
  border-right: solid 1px black;  

  border-bottom: solid 1px rgba(0,0,0,1);  
  border-radius: 5px 5px 5px 5px;      

  background-color: rgba(255,255,200,0.3);

  background: linear-gradient(to right, rgba(0,120,255,0.3), rgba(0,120,255,0.3));

  background:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));



  border-left: solid 0.5em rgba(100, 200,255, 0.4);   



  /* ton motif */
  background: radial-gradient(black 15%, transparent 16%) 0 0,
              radial-gradient(black 15%, transparent 16%) 8px 8px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
              radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: rgba(245,245,245,0.1);

  background-size:
    8px 70px;



  box-shadow: -2px -1px 1px rgba(0,0,0,1),
              0px 1px 1px rgba(0,0,0,1),  
              6px 6px 3px rgba(0,0,0,0.4);
}









