nav {

  font-family: 'Pacifico', cursive;
  font-size: 1.7em;
  background-color: rgba(255,255,255,0.8);
  margin-top: .5em;  
  margin-left: -5px;    
  padding-top: 10px;
  padding-bottom: 10px;  
  padding-left: 10px;    
  padding-right: 3px;      
  color: #333;
  border-top: 1px solid #88b;
  border-left: 1px solid #000;  
  border-bottom: 2px solid #88b;

  text-shadow: -2px -2px 1px rgba(255,255,255,1),
  2px 2px 3px rgba(0,0,0,0.6);    

  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);  
}

nav ul {

  background-color: #fdfbf7; /* ton ivoire clair, papier beaux-arts */
  background-image:
    repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.03) 0px, rgba(0, 0, 0, 0.03) 3px, transparent 3px, transparent 12px),
    repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.02) 0px, rgba(0, 0, 0, 0.02) 3px, transparent 3px, transparent 12px);
  background-size: 24px 24px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.06); 
  
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000;

}

nav a {
  display: block;         
  line-height: 1.2;       

  color: #0055aa;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {

  color: #0055aa;
  text-decoration: underline;


}
