/* =========================================================
   FOOTER — BLUES
   ========================================================= */

footer
{
    width: 100%;

    min-height: 45px;

    margin-top: 10px;
    padding: 10px 20px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(
            to bottom,
            #17232d,
            #101820
        );

    border-top: 2px solid #80603d;
    border-bottom: 1px solid #3c3025;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,.06),
        0 -3px 8px rgba(0,0,0,.25);
}


/* =========================================================
   TEXTE
   ========================================================= */

.footer-text
{
    font-family:
        "Courier New",
        Courier,
        monospace;

    font-size: 12px;

    letter-spacing: .5px;

    color: #b69a70;

    text-shadow:
        1px 1px 1px #000;
}


/* =========================================================
   PETITE LIGNE DÉCORATIVE
   ========================================================= */

.footer-text::before
{
    content: "—";

    margin-right: 10px;

    color: #80603d;
}


.footer-text::after
{
    content: "—";

    margin-left: 10px;

    color: #80603d;
}

