
.book
{
    position: relative;

    margin-top: 0.4em;    
    margin-left: 0.5em;
    margin-right: 0.0em;   
    
    padding-top: 0.5em;

    border-radius: 1.0em 2em 0em 0em;    

    border-top: solid 8px rgb(95, 68, 1);    
    border-left: solid 5px rgb(95, 68, 1);
    border-right: solid 5px rgb(101, 83, 0);    
 
    overflow: hidden;

    background-image:
        url("/img/paper_noise.png");

}
.book::before
{
    content: "";

    position: absolute;

    top: 0;
    bottom: 0;

    left: 0;

    width: 20px;

    background:
        
        repeating-linear-gradient(
            to right,

            #d6c3a4 0px,
            #d6c3a4 1px,

            #f7f1e4 1px,
            #f7f1e4 2px,

            #ece2d0 2px,
            #ece2d0 3px
        );        
}
.book::after
{
    z-index: 10;
}
/******************************************************************************
 * Pages
 ******************************************************************************/

.page
{
    flex: 1;

    min-width: 0;

    padding-top:0.5rem;
    padding-bottom: 2.5em;

}

.page-left
{
    position: relative;
    overflow: hidden;    

    padding-left: 1.8em;

    margin-left: 20px;

    border-radius:0px 7px 0px 0px;


    background:


        /* marge rouge */
        linear-gradient(
            to right,

            transparent 0,
            transparent 3.0rem,

            #ec8282 3.0rem,
            #f89292 3.1rem,

            transparent 3.1rem
        ),
                /* lignes du cahier */
        repeating-linear-gradient(
            to bottom,

            transparent 0,
            transparent 1.75rem,

            #d8ebff 1.75rem,
            #d8ebff 1.82rem
        );


}
.page-left::after
{
    content: "";

    position: absolute;

    top: 0;
    right: 0px;

    width: 10px;
    bottom: 0;

    background:
        linear-gradient(
            to left,
            rgba(155, 147, 110, 0.4),            
            rgba(255, 255, 255, 0),
            transparent
        );

    pointer-events: none;
}
.page-left::before
{
    content: "";

    position: absolute;

    bottom: 0px;
    right: 10px;

    width: 300px;
    height: 200px;

    background: url("/img/fleuron_left.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;    
}

.page-right
{
    position: relative;    
    overflow: hidden;    
    z-index: 1;

    display: flex;
    justify-content: center; 
    align-items: center;     

    text-align:center;    

    margin-right: -20px;    
    
    border-radius: 7px;

    padding-left: 0.5em;

    background:

        repeating-linear-gradient(
            to bottom,

            transparent 0,
            transparent 1.75rem,

            #d8ebff 1.75rem,
            #d8ebff 1.82rem
        );
}
.page-right::before
{
    content: "";

    position: absolute;

    top: 0;
    left: 1px;

    width: 50px;
    bottom: 0;

    background:
        linear-gradient(
            to left,
            rgba(245, 242, 224, 0.08),
            rgba(155, 147, 110, 0.5)
        );           



    pointer-events: none;
}
.page-right::after
{
    content: "";

    position: absolute;

    bottom: 0px;
    left: 10px;

    width: 300px;
    height: 200px;

    background: url("/img/fleuron_right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;    
}


.book::after
{
    content: "";

    position: absolute;

    top: 0;
    bottom: 0;

    right: 0;

    width: 20px;

    background:

    repeating-linear-gradient(
        to right,

        #c8a67b 0px,
        #c8a67b 1px,

        #fdf7eb 1px,
        #fdf7eb 2px,

        #e8d4b3 2px,
        #e8d4b3 3px
    );
}

.inset
{
    display: inline-flex;

    padding: 5px;    
 
    align-content: center;

    margin-right: 5em;

    font-size: 0.8em;

    background: rgba(245, 219, 193, 0.8);

    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 12px;

    box-shadow:
        0 2px 6px rgba(0,0,0,.08);
}